name: CI

on: [push, pull_request]

jobs:
  format:
    name: Formatting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt

      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  test:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - run: docker-compose -f tests/docker-compose.yml up -d

      - uses: actions-rs/cargo@v1
        with:
          command: build

      - uses: actions-rs/cargo@v1
        with:
          command: test
        env:
          RUST_LOG: "trace"
          REDIS_URL: "redis://127.0.0.1:6379"
          DATABASE_URL: "mysql://root:root@localhost:3306/eludris"

  clippy:
    name: Clippy; Destroyer of Realities.
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: clippy

      - run: docker-compose -f tests/docker-compose.yml up -d

      - uses: actions-rs/cargo@v1
        with:
          command: build
        env:
          DATABASE_URL: "mysql://root:root@localhost:3306/eludris"

      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings
